.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    border: 5px solid #0D0D0D;
    background-color: #7cf227;
    justify-content: space-evenly;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 600px;
  }

figure {
    text-align: center;
    font-style: italic;
    font-size: .75em;
    }

h1 {
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    object-fit: contain;
    height: 400px;
}